body {
  font-family: "Merriweather", serif;
  background-color: #dfdbd8;
}

.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  width: 100%;
  padding: 30px 0;
}

.hero {
  display: block;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/background/Img@1x_M.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/background/Img@1x_M.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.webp);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-right: 0;
    padding-bottom: 200px;
    padding-left: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.webp);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.webp);
  }
}

.hero__title {
  color: white;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 0px 2px #080302;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 40px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 60px;
    line-height: 1.36;
  }
}

.about {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding: 0 30px;
  }
}

.about_title {
  text-align: center;
  font-size: 20x;
}
@media screen and (min-width: 768px) {
  .about_title {
    width: 600px;
    font-size: 26px;
  }
}

.about_text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about_text {
    width: 600px;
  }
}

.about_img {
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/about.jpeg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .about_img {
    margin: 0;
    width: 500px;
    height: 600px;
  }
}

.price_container {
  position: relative;
  background-image: url(../images/price.webp);
  background-repeat: no-repeat;
  background-size: 60%;
  width: 100%;
  height: 400px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .price_container {
    height: 600px;
    background-size: 40%;
  }
}

.price_wrapper {
  position: absolute;
  top: 15%;
  right: 10%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .price_wrapper {
    width: 650px;
    height: 400px;
  }
}

.price_list {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .price_list_title {
    font-size: 24px;
  }
}

.price_list_item {
  padding: 5px 0;
}
.price_list_item::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #212121;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .price_list_item {
    padding: 15px 0;
    padding-bottom: 10px;
    font-size: 20px;
  }
}

.feedback_container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.feedback_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.feedback_item {
  width: 150px;
  height: 100%;
  padding: 15px;
  margin-right: 8px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  border-radius: 10px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer-title {
  margin: 0;
  margin-bottom: 8px;
}

.footer_social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .footer_social_list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer_social_list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 0;
  }
}

.footer-social-link {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: wheat;
  color: #ffffff;
}

.social-link-svg {
  fill: black;
}
.social-link-svg .footer-social-link:hover, .footer-social-link:focus .social-link-svg {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */