// Basic
body {
  font-family: "Merriweather", serif;
  background-color: #dfdbd8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

//  < !-------------***| Header |***------------>

.header {
  width: 100%;
  padding: 30px 0;
}

//  < !-------------***| Hero |***------------>
.hero {
  display: block;
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.webp);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background.webp);
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-right: 0;
    padding-bottom: 200px;
    padding-left: 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background.webp);
    padding-top: 350px;
    padding-bottom: 350px;
  }
}

.hero_upper-title {
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 0px 2px #080302;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.hero__title {
  color: white;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  text-shadow: 2px 0px 2px #080302;

  @media screen and (min-width: 768px) {
    font-size: 46px;
    line-height: 1.36;
  }
  @media screen and (min-width: 1200px) {
    font-size: 66px;
    line-height: 1.36;
  }
}

//  < !-------------***| About |***------------>
.about {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}
.about_container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
  }
}
.about_title {
  text-align: center;
  font-size: 20x;
  line-height: 1.25;
  @media screen and (min-width: 768px) {
    width: 700px;
    font-size: 32px;
  }
}

.about_text {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.25;
  @media screen and (min-width: 768px) {
    width: 700px;
    font-size: 22px;
    margin-bottom: 0;
  }
}

.about_img {
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/about.jpeg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0;
    width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    width: 500px;
    height: 600px;
  }
}

//  < !-------------***| Price |***------------>
.price {
  padding-top: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
}
.price_container {
  position: relative;
}

.price_img {
  background-image: url(../images/price.webp);
  background-repeat: no-repeat;
  background-size: 60%;
  width: 100%;
  height: 400px;
  margin-left: 20px;

  @media screen and (min-width: 768px) {
    height: 600px;
    background-size: 60%;
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-size: 40%;
  }
}
.price_wrapper {
  position: absolute;
  top: 15%;
  right: 6%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  width: 300px;
  padding: 15px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 450px;
    height: 400px;
  }

  @media screen and (min-width: 1200px) {
    width: 650px;
    height: 400px;
    right: 10%;
  }
}

.price_list {
  padding: 0;
}

.price_list_title {
  line-height: 1.25;
  margin: 0;
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.price_list_item {
  padding: 5px 0;
  padding-left: 25px;
  transition: all 300ms ease;
  &:hover {
    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: #212121;
      margin-top: 5px;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 15px 0;
    padding-bottom: 10px;
    font-size: 22px;
  }
}
//  < !-------------***| Feedback |***------------>
.feedback_container {
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
}

.feedback_title {
  text-align: center;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.feedback_list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.feedback_item {
  width: 150px;
  height: 100%;
  padding: 15px;
  margin-right: 8px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 250px;
    height: 100%;
    padding: 30px;
  }
}
.feedback_item_accent {
  font-weight: 600;
}

//  < !-------------***| Footer |***------------>
.footer-container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
  }
}

.footer-wrap {
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.footer_social_list {
  display: flex;
  gap: 15px;
  padding: 0;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.footer-contact-link {
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    background-color: rgb(146, 138, 127);
    border-radius: 10px;
    color: white;
    padding: 0 4px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.footer-social-link {
  width: 40px;
  height: 40px;
  color: #afb1b8;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    background-color: rgb(146, 138, 127);
  }

  @media screen and (min-width: 768px) {
    width: 45px;
    height: 45px;
  }
}

.social-link-svg {
  fill: black;

  .footer-social-link:hover,
  .footer-social-link:focus & {
    fill: white;
  }
}
